.principal {
    width: 800px;
    height: 1450px;
    /*background-color: blue;*/
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}
.cabecera{
    width: 100%;
    height: 20px;
    /*background-color: cornflowerblue;*/
}
.sub2{
    width: 100%;
    height: 96%;
    /*background-color:blue;*/
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.pie{
    width: 100%;
    height: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    /*background-color: cornflowerblue;*/
}
.izquierda{
    width: 25%;
    height: 95%;
    margin: 20px 0px 0px 0px;
    /*background-color: rgb(131, 125, 118);*/

}
.centro{
    width: 60%;
    height: 95%;
    /*background-color: antiquewhite;*/
}
.foto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
        text-align: center;
}
.datos{
    font-size: 10px;
    padding: 0px 0px 20px 5px;
}
.contacto{
    padding: 0px 0px 20px 5px;
}
.centrado{
    display: flex;
    font-size: 10px;
    align-items: center;
}
.centrado2{
    display: flex;
    align-items: center;
}
.subtutilo{
    font-size: 13px;
    font-style: inherit;
    padding: 0px 0px 20px 0px;
}
.idiomas{
    padding: 0px 0px 20px 5px;
}
.otros{
    padding: 0px 0px 20px 5px;
}
.estudios{
    display: inline;
    padding: 0px 0px 20px 5px;
    align-items: center;
    font-size: 13px;
    font-style: inherit;
    flex-wrap: wrap;
}
.datos2{
    font-size: 12px;
    /*padding: 0px 0px 20px 5px;*/
}

.titulo_nombre{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
